<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<ul>
    <li>
    <a href={{url_for("modeling_page")}}>Try simulator</a>
    </li>
        <li>
    <a href="https://github.com/yuliaya/trading_model/blob/master/lifetime/median_prices.ipynb"
       target="_blank">Lifetime model notebook</a>
    </li>
        <li>
    <a href="https://github.com/yuliaya/trading_model/blob/master/predict_demand/predict_demand_choose_model.ipynb"
       target="_blank">Demand model notebook</a>
    </li>
</ul>

</body>
</html>